@{
    ViewBag.Title = "VI PÅ BÄRSDAGS";
    ViewBag.Message = "Allting började med 3 studenter på det Systemvetenskapliga programmet i Örebro.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
   <br />
   Varje torsdag samlades de på Örebro Kårhus för att delta vid aktiviteten TIMEBEER, en aktivitet som helt enkelt innebar BÄRSDAGS.<br />
   På torsdagarna njöt man av sin BÄRS, träffade likasinnade människor och hade den roligaste dagen på veckan, varje vecka.<br />
   Resterande dagar var det väldigt svårt att hitta människor som ville BÄRSA, de trodde att man endast kunde göra det på torsdagar.<br /> 
   Det fanns helt enkelt ingen plats som förenade dessa människor, men nu gör det, nu finns vi. Välkommen till BÄRSDAGS!</p>
