@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Vart hittar ni oss?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Biravägen 5,2<br />
    520 52 Mariestad<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@bärsdags.se">support@bärsdags.se</a><br />
    <strong>Samarbeten:</strong> <a href="mailto:samarbeten@bärsdags.se">samarbeten@bärsdags.se</a>
</address>