
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>En middag Hugo</h1>
    <p class="lead">En middag med Hugo är en unik chans för dig att hitta den rätta! 
    Registera dig idag och börja ditt nya liv</p>
    <p>KNAPP (REGISTRERA NU)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Erik Sondell</h2>
        <p>

        </p>
        <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Erik</button>
    </div>
    <div class="col-md-4">
        <h2>Hugo</h2>
        <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Hugo</button>
    </div>
    <div class="col-md-4">
        <h2>Axel</h2>
        <button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Lär känna Axel</button>
     
    </div>
</div>