@model ASPMedAPI.Models.ProfilViewModel

@{
    ViewBag.Title = "ProfilStartsida";
}

<h2>Welcome @Model.Förnamn</h2>
<ul class="nav">
    <li class="nav-item">
        @Html.ActionLink("View my profile", "ShowProfile", "Profils", new { showID = Model.UserID }, null)
    </li>
    <li class="nav-item">
        @Html.ActionLink("Edit", "Edit", "Profils", new { id = Model.UserID }, null)
    </li>
</ul>
