@model  ASPMedAPI.Models.Classes.RequestSent
@{
    ViewBag.Title = "Lista över vänförfrågningar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        Vänförfrågan har lagts till
    </div>
}
else
{
   
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}
@Html.ActionLink("» Tillbaka till profiler", "Index", "Profils")


