@model IEnumerable<ASPMedAPI.Models.Classes.VänListItem>
@{
    ViewBag.Title = "VänList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VänList</h2>


@if (!(Model.Count() == 0))
{
    <table class="table">
        <tr>
            <th>
                Förnamn
            </th>
            <th>
                Efternamn
            </th>
            <th></th>
            <th></th>
        </tr>
      

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Förnamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Efternamn)
                </td>
                <td>
                    @Html.ActionLink("Delete", "RemoveFriend", "Friend", new { friendID = item.UserId }, new { })
                </td>
                <td>
                    @Html.ActionLink("View profile", "ShowProfile", "Profile", new { showID = item.UserId }, new { })
                </td>
            </tr>
        }

    </table>
}
else
{
    
    <h4>You have no friends in your friend list.</h4>
}



